body {
    background-image: url(img/snow.gif);
    font-family: fantasy;
}

body a:link {
    color: #F2F2F2;
}

#container
{
	margin: 0 30px;
	background: #F3F6F8;
    * Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dee9ea+0,ffffff+100&1+38,0+100 */
background: -moz-linear-gradient(top, rgba(222,233,234,1) 0%, rgba(235,241,242,1) 38%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(222,233,234,1) 0%,rgba(235,241,242,1) 38%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(222,233,234,1) 0%,rgba(235,241,242,1) 38%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee9ea', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    border-radius: 20 px;

}

#header
{
	background: #8BAEBA;
	padding: 20px;
    border-radius: 20px 20px 0px 0px;
}

#header h1 { margin: 0; 
color: #DCE6EA;}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
    background-color: #add8e6;
    color : #3F3F3F;
}

#edito h2
{
	color: #FFFFFF;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	float: left;
	width: 28%;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
    background-color: #9bc2cf;
    color: #3F3F3F;
}

#news h2 {
        color: #FFFFFF;
}

#footer
{
	clear: both;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
    background-color: #8BAEBA;
    border-radius: 0px 0px 20px 20px;
}
